<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D Right</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/offcanvas.css" rel="stylesheet">
    <!-- Step 1 - Include the fusioncharts core library -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <!-- Step 2 - Include the fusion theme -->
    <script type="text/javascript"
            src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">D Right</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main" class="container">
    <div class="my-3 p-3" style="display: flow-root">
        <div class="my-3 p-3 bg-white rounded box-shadow"
             style="background: blue; width: 30%; float: left; height: 600px; margin-right: 5%;">
            <img id="laneImg" style="max-width: 100%; height: 100%">
        </div>
        <div class="my-3 p-3 bg-white rounded box-shadow"
             style="background: green; width: 30%; float: left; height: 600px;">
            <img id="mainImg" style="max-width: 100%; height: 100%">
        </div>
        <div class="my-3 p-3 bg-white rounded box-shadow"
             style="background: green; width: 30%; float: right; height: 600px;">
            <img id="deepImg" style="max-width: 100%; height: 100%">
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow" style="display: flow-root">
        <div style="width: 65%; float: left; height: 200px; margin-right: 5%;">
            <table class="table" style="width: 100%">
                <tbody>
                <tr>
                    <th scope="row">이름</th>
                    <td>홍길동</td>
                    <th scope="row">차종</th>
                    <td>싼타페 2.0(2WD)</td>
                </tr>
                <tr>
                    <th scope="row">번호</th>
                    <td>**주 0123</td>
                    <th scope="row">주행거리</th>
                    <td>15,552 km</td>
                </tr>
                <tr>
                    <th scope="row">가입번호</th>
                    <td>188Y0199046570</td>
                    <th scope="row">보험기간</th>
                    <td>2018.12.11 ~ 2019.12.10</td>
                </tr>
                <tr>
                    <th scope="row">위도</th>
                    <td id="latitude"></td>
                    <th scope="row">경도</th>
                    <td id="longitude"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="score" style="width: 30%; float: right; height: 200px;"></div>
    </div>

    <div id="speed" class="my-3 p-3 bg-white rounded box-shadow"></div>

    <div id="car-interval" class="my-3 p-3 bg-white rounded box-shadow"></div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
        window.jQuery || document.write('<script src="static/js/jquery-slim.min.js"><\/script>')



</script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/holder.min.js"></script>
<script src="static/js/offcanvas.js"></script>
<script type="text/javascript">
        function setSpeed() {

        }
        jQuery(function() {
        window.scoreChart = new FusionCharts({
            type: "angulargauge",
            renderAt: "score",
            width: "100%",
            height: "100%",
            dataFormat: "json",
            dataSource: {
                chart: {
                    caption: "현재 점수",
                    lowerlimit: "0",
                    upperlimit: "100",
                    showvalue: "1",
                    numbersuffix: "%",
                    theme: "fusion",
                    showtooltip: "0"
                },
                colorrange: {
                    color: [{
                        minvalue: "0",
                        maxvalue: "50",
                        code: "#F2726F"
                    }, {
                        minvalue: "50",
                        maxvalue: "75",
                        code: "#FFC533"
                    }, {
                        minvalue: "75",
                        maxvalue: "100",
                        code: "#62B58F"
                    }]
                },
                dials: {
                    dial: [{
                        value: "81"
                    }]
                }
            }
        });
        window.intervalChart = new FusionCharts({
          type: "realtimeline",

          renderAt: "car-interval",
          width: "100%",
          dataFormat: "json",
          dataSource: {
             chart: {
                caption: "실시간 차간 간격",
                numberSuffix: "m",
                numdisplaysets: "10",
                labeldisplay: "rotate",
                showRealTimeValue: "0",
                theme: "fusion",
                plotToolText: "$label<br>Price: <b>$dataValue</b>",
                setAdaptiveYMin: "1"
             },
             categories: [
                {
                   category: []
                }
             ],
             dataset: [
                {
                   data: []
                }
             ]
          },
          events: {
             initialized: function(evt, arg) {
                // Get reference to the chart
                var chartRef = evt.sender;

                function updateData() {
                   var t = new Date(),
                      date =
                         t.getHours() + ":" + t.getMinutes() + ":" + t.getSeconds(),
                      val = Math.floor(Math.random() * (150 - 50 + 1)) + 50,
                      strData = "&label=" + date + "&value=" + val;
                   // chartRef.feedData(strData);
                }

                chartRef.intervalUpdateId = setInterval(updateData, 1000);
             },

             disposed: function(evt, args) {
                clearInterval(evt.sender.intervalUpdateId);
             }
          }
          });

          window.speedChart = new FusionCharts({
          type: "realtimeline",

          renderAt: "speed",
          width: "100%",
          dataFormat: "json",
          dataSource: {
             chart: {
                caption: "실시간 속도",
                numberSuffix: "km/h",
                numdisplaysets: "10",
                labeldisplay: "rotate",
                showRealTimeValue: "0",
                theme: "fusion",
                plotToolText: "$label<br>Price: <b>$dataValue</b>",
                setAdaptiveYMin: "1"
             },
             categories: [
                {
                   category: []
                }
             ],
             dataset: [
                {
                   data: []
                }
             ]
          },
          events: {
             initialized: function(evt, arg) {
                // Get reference to the chart
                var chartRef = evt.sender;

                function updateData() {
                   var t = new Date(),
                      date =
                         t.getHours() + ":" + t.getMinutes() + ":" + t.getSeconds(),
                      val = Math.floor(Math.random() * (150 - 50 + 1)) + 50,
                      strData = "&label=" + date + "&value=" + val;
                   // chartRef.feedData(strData);
                }

                chartRef.intervalUpdateId = setInterval(updateData, 1000);
             },

             disposed: function(evt, args) {
                clearInterval(evt.sender.intervalUpdateId);
             }
          }

        })
        window.scoreChart.render()
            window.speedChart.render()
            window.intervalChart.render()
        })



</script>
<script>
        function getCurrentDate() {
            var t = new Date();
            return t.getHours() + ":" + t.getMinutes() + ":" + t.getSeconds();

        }
        function loadRecord(idx) {
            $.ajax({
                type: 'POST',
                url: '/getRecord',
                success: function(data) {
                    $('#mainImg').attr('src', 'data:image/png;base64, ' + data.mainImg)
                    $('#laneImg').attr('src', 'data:image/png;base64, ' + data.laneImg)
                    $('#deepImg').attr('src', 'data:image/png;base64, ' + data.deepImg)
                    $('#latitude').text(data.latitude)
                    $('#longitude').text(data.longitude)
                    var date = getCurrentDate()
                    window.speedChart.feedData("&label=" + getCurrentDate() + "&value=" + data.speed)
                    window.intervalChart.feedData("&label=" + getCurrentDate() + "&value=" + data.interval)
                    window.idx += 1
                    loadRecord(window.idx)
                },
                error: function() {
                    setTimeout(() => {
											loadRecord(window.idx)
                    }, 100)
                },
                contentType: 'application/json',
                data: JSON.stringify({
                    id: idx
                })
            })
        }

        $(function() {
            window.idx = 1
						loadRecord(window.idx)
        })

</script>
</body>

</html>